@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}


.title {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
}

.title-right {
  display: none;
}


.header {
  &__inner {
    height: 75px;
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
  }


  &__burger {
    position: absolute;
    right: 15px;
    top: 23px;
    background-color: #000000;
    width: 35px;
    height: 35px;

    &::before,
    &::after {
      content: '';
      background-color: #FFFFFF;
      position: absolute;
      width: 14px;
      height: 2px;
      margin: 0 0 0 10px;
    }

    &::before {
      //top: 0;
      margin-top: 11px;
    }

    &::after {
      bottom: 0;
      margin-bottom: 10px;
    }

    &.active:before {
      transform: rotate(45deg);
      margin-top: 16px;
    }

    &.active:after {
      transform: rotate(-45deg);
      margin-bottom: 16px;
    }
  }

  &__burger span {
    position: absolute;
    background-color: #FFFFFF;
    width: 14px;
    height: 2px;
    top: 15px;
    margin: 2px 10px 2px 10px;
  }

  &__burger.active span {
    display: none;
  }

}


.menu {
  &__list {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 60px;
    right: 15px;
    background-color: #F5F5F5;
    width: 182px;
    height: 208px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-align: left;
    color: #4E4E4E;
  }

  &__list.active {
    display: flex;
  }

  &__list-link {
    padding-left: 14px;
    color: #4E4E4E;

    &:focus {
      color: #57A4A4;

    }
  }
}

.recent__post {
  margin-top: 38px;
  //padding: 38px 25px 52px 25px;

  &__item:nth-last-child(1) {
    display: none;
  }

  &__item-img {
    max-width: 160px;
    max-height: 140px;
    margin: 23px 0 11px 0;
  }

  &__item-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    color: #4E4E4E;

    &:after {
      content: 'Photography, Journal   /   9 Comments';
      font-size: 11px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
      text-align: left;
      display: block;
      margin-bottom: 28px;
    }
  }

  &__item-text {
    display: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    color: #5C5C5C;
  }

}

.instagram {
  //padding-top: 38px;
  margin-top: 75px;

  &__wrapper-img {
    width: 100%;
    max-width: 301px;
    max-height: 301px;
    padding-top: 13px;

    &:nth-last-child(-n + 3) {
      display: none;
    }
  }

}

.footer {
  width: 100%;
  background-color: #000000;
  margin-top: 42px;

  &__content {
    padding: 38px 0 48px 0;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    color: #FEFEFE;
  }

  &__text-small {
    display: block;
    max-width: 303px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: #B9B9B9;
    margin: 0 auto;
    padding-top: 8px;
  }

  &__text-big {
    display: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: #B9B9B9;
  }

  &__copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #B9B9B9;
  }

  &__copyright-phone {
    color: #B9B9B9;
    display: block;
  }

  &__copyright-email {
    color: #B9B9B9;
    display: block;
  }
}

.social-icon {
  display: flex;
  justify-content: center;
  padding: 25px;
}


//------------------------------------------------------------------------
@media (min-width: 765px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
  }

  .title {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;

  }
  .title-right {
    display: inline-block;
    float: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
    padding-right: 25px;
  }

  .header {

    &__burger {
      display: none;
    }
  }


  .menu {
    height: 105px;

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      position: static;
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding-top: 31px;
      background-color: transparent;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 1.1px;
      text-align: center;
    }

    &__list-link {
      display: inline-block;
      padding: 31px 0;
      color: #4E4E4E;

    }
  }

  .recent__post {
    margin-top: 56px;


    &__item {
      //display: block;
      //flex-wrap: wrap;
      //box-sizing: border-box;
      //max-height: 140px;
      //display: none;
    }

    &__item:nth-last-child(1) {
      display: block;
    }

    &__item-img {
      display: inline-block;
      max-width: 160px;
      max-height: 140px;
      margin: 23px 0 11px 0;
    }

    &__item-inner {
      display: inline-block;
      position: relative;
      top: -38px;
      left: 20px;
    }

    &__item-title {
      display: block;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0;
      text-align: left;
      color: #4E4E4E;

      &:after {
        content: 'Photography, Journal   /   9 Comments';
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
        text-align: left;
        display: block;
        margin-bottom: 28px;
      }
    }

    &__item-text {
      display: inline-block;
      max-width: 404px;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0;
      text-align: left;
      color: #5C5C5C;
    }

  }

  .instagram {
    margin-top: 110px;
    //background-color: black opacity(1);

    &__wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      //box-sizing: border-box;
    }

    &__wrapper-img {
      //display: inline-block;
      width: 100%;
      object-fit: cover;
      //max-width: 250px;
      max-height: 250px;
      padding: 35px 9px 35px 0;

      &:nth-last-child(-n + 3) {
        display: inline-block;
      }

      &:nth-last-child(1) {
        display: none;
      }
    }

  }

  .footer {
    width: 100%;
    background-color: #000000;

    &__content {
      //padding: 38px 35px 48px 35px;
    }

    &__title {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0;
      text-align: center;
      color: #FEFEFE;
    }

    &__text-small {
      display: none;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
      text-align: center;
      color: #B9B9B9;
    }

    &__text-big {
      max-width: 684px;
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0;
      text-align: center;
      color: #B9B9B9;
      margin: 0 auto;
      padding-top: 22px;
    }

    &__copyright {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
      text-align: center;
      color: #B9B9B9;
    }

    &__copyright-address {
      display: inline-block;
    }

    &__copyright-phone {
      color: #B9B9B9;
      display: inline-block;
    }

    &__copyright-email {
      color: #B9B9B9;
      display: inline-block;
    }
  }

  .social-icon {
    display: flex;
    justify-content: center;
    padding: 25px;
  }
}

//----------------------------------------------------------
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }


  .title-right {
    display: inline-block;
    float: right;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
    padding-right: 25px;
  }

  .header {
    &__inner {
      height: 120px;
      display: block;
    }

    &__burger {
      display: none;
    }

    &__image {
      width: 100%;
      //padding: unset;
    }
  }


  .menu {
    //display: block;
    //width: 100%;
    //height: 120px;
    //margin: 0 auto;
    ////margin-left: 0;
    ////margin-right: 0;
    //background-color: #00cc33;

    &__list {
      display: flex;
      //justify-content: space-evenly;
      //width: 100%;
      //height: auto;
      ////margin: 0 auto;
      ////padding-top: 31px;
      //background-color: #0A8BFE;
      //text-transform: uppercase;
      //font-size: 11px;
      //font-weight: 400;
      //line-height: 22px;
      //letter-spacing: 1.1px;
      //text-align: center;
    }

    &__list-link {
      display: inline-block;
      padding: 31px 0;
      color: #4E4E4E;

      &:hover {
        color: #57A4A4;
      }
    }
  }

  .recent__post {
    padding: 38px 10px 52px 10px;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      //width: 50%;
      //display: block;
      //flex-wrap: wrap;
      //box-sizing: border-box;
      //max-height: 140px;
      //display: none;
    }

    &__item:nth-last-child(1) {
      display: block;
    }

    &__item-img {
      display: inline-block;
      max-width: 160px;
      max-height: 140px;
      margin: 23px 0 11px 0;
    }

    &__item-inner {
      display: inline-block;
      position: relative;
      top: -38px;
      left: 20px;
    }

    &__item-title {
      display: block;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0;
      text-align: left;
      color: #4E4E4E;

      &:after {
        content: 'Photography, Journal   /   9 Comments';
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
        text-align: left;
        display: block;
        margin-bottom: 28px;
      }
    }

    &__item-text {
      display: inline-block;
      max-width: 404px;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0;
      text-align: left;
      color: #5C5C5C;
    }

  }

  .instagram {
    //padding: 38px 0 42px 25px;
    //box-sizing: border-box;
    background-color: black opacity(1);

    &__wrapper {
      display: flex;
      width: 100%;
      box-sizing: border-box;
    }

    &__wrapper-img {
      display: inline-block;
      //width: 100%;
      max-width: 285px;
      max-height: 285px;
      //padding: 35px 10px;

      &:nth-last-child(-n + 3) {
        display: inline-block;
      }

      &:nth-last-child(1) {
        display: inline-block;
      }
    }

  }

  .footer {
    width: 100%;
    background-color: #000000;

    &__content {
      //padding: 38px 35px 48px 35px;
    }

    &__title {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0;
      text-align: center;
      color: #FEFEFE;
    }

    &__text-small {
      display: none;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
      text-align: center;
      color: #B9B9B9;
    }

    &__text-big {
      display: block;
      max-width: 684px;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0;
      text-align: center;
      color: #B9B9B9;
      margin: 0 auto;

    }

    &__copyright {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
      text-align: center;
      color: #B9B9B9;
    }

    &__copyright-address {
      display: inline-block;
    }

    &__copyright-phone {
      color: #B9B9B9;
      display: inline-block;
    }

    &__copyright-email {
      color: #B9B9B9;
      display: inline-block;
    }
  }

  .social-icon {
    display: flex;
    justify-content: center;
    padding: 25px;
  }
}

